<h1><span data-i18n="skills.my_skills">About</span></h1>

<p> Hi! My name is <b>Ebru</b> and I'm a software engineer.</p>

<p>I've over 5 years of experience as a developer including
    mobile, web and Unity3D development.On a daily basis, I'd like to keep up with the latest conventions, tips and
    tricks in software development.</p>

<p> My motivation has always been gaining and sharing knowledge; empowering people to learn from others to better
    understand the world and solve problems.</p>

<hr>
<footer>&nbsp; <i class="fa fa-hand-spock-o info-text-color"></i></footer>