<h1><span data-i18n="skills.my_skills">About</span></h1>

Hi! My name is
<b>Ebru</b> and welcome to my personal blog. I'm a software engineer and I've over 5 years of experience as a developer.

<p>My main interests revolve around mobile, web and game development.</p>

<p>I love solving real-world problems through software. On a daily basis, I'd like to keep up with the latest trends
    on software development.</p>

<p>I'm a true aficionado when it comes to software development and coding. My goal has always been gaining and sharing
    knowledge and empowering people to learn from others to better understand the world and solve the problems we're
    facing.</p>

<hr>
<footer>&nbsp; <i class="fa fa-hand-spock-o info-text-color"></i></footer>